/* Use snake_case instead of kebab case for the class names
 * The main advantage is text searching in vim where it matches the entire
 * class name and treated as identifier
 * */
body {
    font-family: "Fira Sans", "Courier New", Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}

.app {
    display: flex;
    flex-direction: column;
}

.window {
    border: 1px solid green;
}

.window_links{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
}

.window_views{
    display: flex;
    flex-direction: row;
}

.has_many_tabs{
    display: flex;
    flex-direction: column;
}

.indirect_tabs{
    display: flex;
    flex-direction: row;
}

.table{
    border: 1px solid red;
}

.column_view_names {
    display: flex;
    flex-direction: row;
}
