/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
/* end of reset */

/* Use snake_case instead of kebab case for the class names
 * The main advantage is text searching in vim where it matches the entire
 * class name and treated as identifier
 * */
body {
    font-family: "Fira Sans", "Courier New", Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.app {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.window {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.window_links{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
}

.window_views{
    display: flex;
    flex-direction: row;
    padding: 20px;
}


.one_one_tabs{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* details tab */
.one_one_tab{
    padding: 10px;
}
.one_one_tab summary {
    outline: none;
    background-color: #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.has_many_and_indirect_tabs_link{
    display: flex;
    flex-direction: row;
}
.has_many_tabs_link {
    display: flex;
    flex-direction: row;
}
.indirect_tabs_link {
    display: flex;
    flex-direction: row;
}

.has_many_and_indirect_tabs{
    display: flex;
    flex-direction: row;
}

.has_many_tabs{
    display: flex;
    flex-direction: row;
    padding: 20px;
}


.indirect_tabs{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.table{
    border: 1px solid red;
}
.tab{
    border: 1px solid blue;
    padding: 20px;
}
/* frozen column names and the rows of frozen columns */
.frozen_column_names_and_frozen_column_rows{
    display: flex;
    flex-direction: column;
}

.immovable_frozen_columns {
    border: 1px solid green;
}

.normal_column_names, .frozen_column_names {
    display: flex;
    flex-direction: row;
}

.rows_and_frozen_columns {
    border: 1px solid purple;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.frozen_rows_and_normal_rows{
    display: flex;
    flex-direction: column;
}

.normal_column_names_and_frozen_rows_container{
    overflow-x: hidden;
}

.frozen_rows{
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid red;
}


.frozen_columns_container{
    overflow-y: hidden;
}

/*ol in table_view, list of frozen column normal_rows in the left side
 * should share same values with normal_rows*/
.frozen_columns {
}

.selector_and_frozen_column_row{
    display: flex;
    flex-direction: row;
}

/* The selector checkbox */
.selector_and_frozen_column_row > input {
    width: 30px;
}

/*ol in table_view, listing of normal_rows 
 * can move: left, right, up, down */
.normal_rows{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: scroll;
}

.normal_rows, .normal_column_names_and_frozen_rows_container {
    width: 800px;
}


/* values in .normal_rows and .frozen_columns_container should be the same
 * to keep the alignment*/
.normal_rows, .frozen_columns_container {
    border: 1px solid peachpuff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 400px;
}

/* li, a row in the frozen column 
 * the height should align the .row  */
.frozen_column_row {
}

/* li in row_view, each row of the table
 * */
.row{
}

/* li in row_view, each row of the table
 * The height should align the .frozen_column_row */
.row, .frozen_column_row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #333;
    height: 30px;
}

.value{
    border: 1px solid #eee;
}
