/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
input[type="text"]{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
/* end of reset */

/* Use snake_case instead of kebab case for the class names
 * The main advantage is text searching in vim where it matches the entire
 * class name and treated as identifier
 * */
body {
    font-family: system,-apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,"Segoe UI",sans-serif;
    color: #333;
    font-size: 13px;
    line-height: 1.6;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.app {
    display: flex;
    flex-direction: row;
    background-color: #ddd;
}


.logo_and_window_list{
    display: flex;
    flex-direction:column;
}

.logo{
    width: 120px;
    height: 120px;
    border: 1px solid green;
    background: url(img/diwata200.png) no-repeat center;
    background-color: green;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* The list of windows on the left side bar*/
.window_list{
    overflow: auto;
    background-color: #f5f5f4;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 10px;
}

.window_list_group_name {
    margin: 0;
    padding: 10px 10px 2px;
    font-size: 12px;
    font-weight: 500;
}

.window_list_link{
    padding: 2px 10px 2px 25px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.window_list_link .table_icon {
    width: 19px;
    height: 18px;
    float: left;
    color: #737475;
    margin-top: 2px;
    margin-right: 7px;
    font-size: 18px;
    text-align: center;
}

.window_links_and_window_views{
    padding-top: 10px;
    margin-left: 20px;
}

.window {
    display: flex;
    flex-direction: column;
}

.query_input{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.sql_input, .parsed_sql {
    resize: none;
}

.run_query{
    margin-top: auto;
    margin-left: 5px;
    margin-right: 15px;
}

.window_links_and_logout{
    border-bottom: 1px solid #888;
    /*to make the window_views rounded border meet seamlessly */
    margin-right: 4px;
}

.window_links{
    display: flex;
    flex-direction: row;
}
.logout{
    float: right;
}

.window_views{
    display: flex;
    flex-direction: row;
    background-color: #f5f5f4;
    border-color: #888;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.toolbar_and_query_view{
    margin-left: 10px;
}

.toolbar{
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.toolbar > button {
	margin-left: -1px;
	border: 1px solid #c2c0c2;
	padding: 6px 12px;
    display:flex;
    flex-direction: row;
    height: 35px;
}

.toolbar > button:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.toolbar > button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.main_tab_and_one_one_tabs_and_detail_close_btn{
    display: flex;
    flex-direction: row;
}

.close_detail_btn {
    width: 48px;
    height: 48px;
}

.one_one_tabs{
    display: flex;
    flex-direction: column;
}

/* details tab */
.one_one_tab{
    margin-bottom: 2px;
    background-color: #ccc;
}
.one_one_tab summary {
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.has_many_and_indirect_tabs_link{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #888;
    padding-left: 40px;
    margin-top: 20px;
}

.tab_links{
    background-color: #ccc;
    border-width: 1px 1px 0 1px;
    border-color: #888;
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    text-decoration: none;
    display: block;
    outline: 0;
    cursor:default;
}

.tab_links.active{
    background-color: #f5f5f4;
    /*Makes the active tab connects with the container */
    margin-bottom: -1px;
}

.has_many_tabs_link {
    display: flex;
    flex-direction: row;
}
.indirect_tabs_link {
    display: flex;
    flex-direction: row;
}

.has_many_and_indirect_tabs{
    display: flex;
    flex-direction: row;
}

.has_many_tabs{
    display: flex;
    flex-direction: row;
}


.indirect_tabs{
    display: flex;
    flex-direction: row;
}

.table{
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: min-content max-content;
    border: 1px solid #ccc;
    margin: 10px;
    padding-left: 10px;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}
.tab{
}
/* frozen column names and the rows of frozen columns */
.frozen_column_names_and_frozen_column_rows{
    display: flex;
    flex-direction: column;
}

.spacer_and_frozen_column_names{
    display: flex;
    flex-direction: row;
}


/* ol, contains the frozen columns and their selection*/
.immovable_frozen_columns {
    border-bottom: 1px dashed #ccc;
}

.frozen_column_names{
}
/* remove the dashed border when in frozen column */
.frozen_column_names .column_name_and_control{
    border-right: 1px dashed #ccc;
}

.normal_column_names, .frozen_column_names {
    display: flex;
    flex-direction: row;
    background-color: #ddd;
}

.column_name_and_control{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    height: 70px;
}

.column_name_and_sort{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.column_name_search_widget_container{
    justify-content: center;
    margin: auto;
}

.quick_find_widget{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

.search_icon_and_column_filter{
    display: flex;
    flex-direction:row;
}
.quick_search_icon{
    height: 30px;
    color: #aaa;
    padding: 3px 2px 0 3px;
    border-color: #aaa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-radius: 5px 0 0 5px;
}
.quick_find_btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #aaa;
}

.column_name{
}
input.column_filter[type="text"]{
    width: 160px;
    height: 24px;
    padding: 0;
    border-color: #aaa;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 0 5px 5px 0;
}
.search_icon{
    width: 16px;
    height: 19px;
    color: #aaa;
    padding: 3px 2px 0 3px;
    border-color: #aaa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-radius: 5px 0 0 5px;
}

.rows_and_frozen_columns {
    display: flex;
    flex-direction: row;
}

.frozen_rows_and_normal_rows{
    display: flex;
    flex-direction: column;
}

.normal_column_names_and_frozen_rows_container{
    overflow-x: hidden;
}
/* add an animation for the transition of margin to smoothen out the
 * transition */
.normal_column_names_and_frozen_rows{
    transition: margin 10ms ease;
}

.frozen_columns {
    border-bottom: 1px dashed #ccc;
}

.frozen_rows{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.row.frozen_row, .value.frozen_row{
    background-color: #fefece;
}


/* can move up and down */
.row.frozen_column, .value.frozen_column{
    background-color: #eefefb;
}
/* both frozen row and frozen column, immovable */
.row.frozen_row.frozen_column, .value.frozen_row.frozen_column {
    background-color: #ecfeec;
}


.frozen_columns_container{
    overflow-y: hidden;
}

/*ol in table_view, list of frozen column normal_rows in the left side
 * should share same values with normal_rows*/
.frozen_columns {
}

.selector_and_frozen_column_row{
    display: flex;
    flex-direction: row;
}

/* The selector checkbox */
.selector_and_frozen_column_row > input, .spacer > input {
    width: 30px;
}

/*ol in table_view, listing of normal_rows
 * can move: left, right, up, down */
.normal_rows{
    display: flex;
    flex-direction: column;
    flex-shrink:0;
    overflow-y: scroll;
    overflow-x: scroll;
}

.normal_rows, .normal_column_names_and_frozen_rows_container {
    width: 800px;
}

.page{
}

.page_holder{
    flex-shrink:0;
}

.row{
    background-color: #fff;
}
.row.modified{
    background-color: papayawhip;
}


/* values in .normal_rows and .frozen_columns_container should be the same
 * to keep the alignment*/
.normal_rows, .frozen_columns_container {
}

/* li, a row in the frozen column
 * the height should align the .row  */
.frozen_column_row {
}

/* li in row_view, each row of the table
 * */
.row{
}

/* li in row_view, each row of the table
 * The height should align the .frozen_column_row */
.row{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.field_view{
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #ccc;
}

.field_view.in_detail{
    display: flex;
    flex-direction: row;
}

.in_detail_column{
    width: 200px;
    text-align: right;
    margin-right: 5px;
}

/* dashed border when in frozen column */
.field_view.frozen_column{
    border-right: 1px dashed #ccc;
}

.value.modified{
    background-color: papayawhip;
}

input.value[type="text"],
input.value[type="number"],
input.value[type="date"],
input.value[type="checkbox"]
{
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 200px;
    padding: 3px 5px 3px 5px;
}



.tab_view{
    display: flex;
    flex-direction: row;
    background-color: #f5f5f4;
}
.tab_view.in_detail_view{
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.detail_view_container{
    display:flex;
    flex-direction: row;
}
.detail_view{
}
.detail_view_grid{
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content;
}

@keyframes expand {
  from {
    margin-top: attr(margin_top px);
    height: 10px;
  }

  to {
    margin-top: 0;
    height: 100%;
    max-height: 1000px;
  }
}

.animate_detail_view{
    animation-name: expand;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow:hidden;
    max-height: 10px;
}

.window{
    /*position: absolute;*/
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Contains the detailed records additional information, ie: has_many and indirect records
 * Anchored to the bottom of the page
 * */
.detail_row_related_records{
}
