/* override photon user-select: none */
* { 
    user-select: auto;
    -webkit-user-select: auto;
}
body {
    padding: 0;
    margin: 0;
    font-family: system,-apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,"Segoe UI",sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #333;
    background-color: transparent;
}
body, html {
    height: 100%;
}
h3 {
    font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    overflow: hidden;
}
.list-group *, .nav-group-item, h1, h2, h3, h4, h5, h6, label, td, th {
    white-space: nowrap;
    text-overflow: ellipsis;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.window {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}
.window-content {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex: 1;
}



.window-arena{
    background-color: #f5f5f4;
}
.pane-group {
    position: absolute;
    bottom: 0;
    display: flex;
}
.pane-group, .window {
    top: 0;
    left: 0;
    right: 0;
}

.pane:first-child {
    border-left: 0;
}
.pane-sm {
    max-width: 220px;
    min-width: 150px;
}
.pane {
    overflow-y: auto;
    flex: 1;
    border-left: 1px solid #ddd;
}
.sidebar {
    background-color: #f5f5f4;
}


.nav-group {
    font-size: 14px;
}
.nav-group-title {
    margin: 0;
    padding: 10px 10px 2px;
    font-size: 12px;
    font-weight: 500;
    color: #666;
}
.nav-group-item {
    padding: 2px 10px 2px 25px;
    display: block;
    color: #333;
    text-decoration: none;
}

.nav-group-item .icon {
    width: 19px;
    height: 18px;
    float: left;
    color: #737475;
    margin-top: -3px;
    margin-right: 7px;
    font-size: 18px;
    text-align: center;
}


#banner{
    height: 100px;
    display: flex;
}


.row-value {
    padding: 0 5px;
    border: 1px solid #ccc;
    height: 30px;
}

.card-view{
    display: flex;
    flex-wrap: wrap;
}

.card-field {
    display: flex;
    padding: 10px 20px;
}

.card-view-value{
    padding: 0 5px;
    height: 30px;
    flex: 1;
}
.card-field-value input {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
}

.card-field-value textarea {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
}

.card-field-name{
    padding: 0 5px;
    height: 30px;
    flex: 1;
    text-align: right;
}

.card-field-label {
    padding-right: 20px;
}




.tab-row{
    display: flex;
}

.tab-row-value {
    padding: 5px 5px;
}

.tab-row-value input
 {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
    height: 30px;
}

input.uuid-textbox{
    font-family: monospace;
}

a.primary-link {
    font-family: monospace;
    white-space: nowrap;
}

.tab-row-value  select
 {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
    height: 30px;
    background-color: transparent;
}

.widget-value.is-modified,
.widget-value.is-modified textarea,
.widget-value.is-modified input{
    background-color: #fff6e2;
}


.frozen-head{
    min-width: 120px;
    border-bottom: 1px solid #ccc;
    border-right: 1px dashed #ccc;
}


.frozen-head .frozen-head-indicator {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
}
.frozen-head-indicator .sort-order-reset{
   padding: 0 5px; 
}
.frozen-head .frozen-head-controls {
    display: flex;
    padding-left: 40px;
}

.frozen-head .frozen-head-controls .filter-btn{
    padding: 0 20px;
}

.page-shadow{
    min-width: 120px;
    overflow: hidden;
    background-color: #f5f5f4;
    border-right: 1px dashed #ccc;
}
.page-shadow-content{
    position: relative;
}
.row-shadow-content {
    padding: 0 10px;
    height: 30px;
}
.shadow-page {
}

/* Frozen head columns */
.frozen-head-columns{
    display: flex;
    background-color: #f5f5f4;
}

/* row shadow and the listing of row records */
.page-shadow-and-list-rows{
    display: flex;
}

.row-controls {
    display: flex;
    height: 40px;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 30px;
}

.row-controls  a {
    color: #333;
    outline: none;
}
.row-controls > div {
    padding: 0 3px;
}

.row-controls .row-focus-indicator {

}

.row-controls .row-undo,
.row-controls .row-save {
    color: #ccc;
}

.row-controls .row-undo.is-active,
.row-controls .row-save.is-active {
    color: #333;
}

.tab-names{
    background-color: #ddd;
    display: flex;
    padding-left: 15px;
    border-bottom: 1px solid #aaa;
}

.tab-names a.tab-name {
    padding-top: 5px;
    text-decoration: none;
    display: block;
    color: #333;
    margin-bottom: -1px;
    height: 30px;
}

.tab-name {
    border: 1px solid #ccc;
    padding: 5px 20px;
    height: 40px;
    border-radius: 5px 5px 0 0;
    outline: 0;
}

.tab-columns {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.tab-columns-content {
    display: flex;
    position: relative;
}

.tab-column-with-sort{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.tab-column {
    display: flex;
    font-size: 14px;
}

.tab-column .column-name {
    padding: 0 10px;
}

.tab-column .sort-order-badge {
    font-size: 8px;
    vertical-align: middle;
    margin: 2px 4px;
    padding: 1px 1px;
    border-radius: 8px;
    background-color: #dde;
    min-width: 16px;
    height: 16px;
    text-align: center;
}

.tab-column .sort-btn{
}
.tab-column .column-sort{
    display: flex;
}

.column-sort .sort-btn{
    color: #ccc;
}
.column-sort .sort-btn.active{
    color: #555;
}

.column-sort .sort-btn.asc  {
}

.column-sort .sort-btn.desc {
    margin-left: -8px;
}

.tab-column-with-filter {
    border-right: 1px solid #ccc;
    height: 70px;
}

.tab-columns-content .tab-column-with-filter:last-child {
    border-right: 0
}

.tab-list-view {
    display: inline-block;
    border: 1px solid #ccc;
    margin: 10px 20px 0 20px;
}

.list-view-rows {
    overflow: auto;
    background-color: #fff;
}

.empty-list-view-rows {
    width: 2000px;
    height: 2000px;
}

.column-filters {
    display: flex;
    padding: 2px;
}

.column-filter{
    display: flex;
    padding: 0 5px;
}

.filter-value{
    height: 20px;
    border-color: #aaa;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-radius: 0 5px 5px 0;
}

.dropdown-filter{
    height: 20px;
    border: 1px solid #aaa;
    background-color: #fff;
    outline: 0
}

.filter-value-icon{
    width: 16px;
    color: #aaa;
    padding: 3px 2px 0 3px;
    border-color: #aaa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-radius: 5px 0 0 5px;
}

.tag-selection{
    display: flex;
    border-width: 0 0 1px 0;
    border-color: #ccc;
    border-style: solid;
    outline: 0;
    height: 30px;
}

.tag-item-with-control{
    padding: 5px 5px 0 5px;
    height: 50px;
}

.tag-item{
    display:flex;
    background-color: #ccc;
    padding: 0 3px;
    border-radius: 5px;
    font-size: 11px;
    white-space: nowrap;
}

.tag-item .icon {
    font-size: 13px;
    padding-left: 3px;
    color: #656565;
}

.indirect-tab {
    background-color: #eddac9;
    border-radius: 0;
}

.detail-tab-names {
    display: flex;
    background-color: #ddd;
    height: 40px;
    padding-left: 40px;
    overflow-x: auto;
}

.detail-tab-names a.detail-tab-name {
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #888;
    text-decoration: none;
    display: block;
    color: #333;
    outline: 0;
}

.detail-tab-names a.detail-tab-name.active-detail-tab {
    background-color: #f5f5f4;
    border-width: 1px 1px 0 1px;
    border-color: #888;
}

.nav-group .is-view-active {
    background-color: #cbf35666;
}

.nav-group-item .is-view-icon {
    color: #688a02;
}

.main-tab-selected {
    overflow: auto;
    background-color: #fff;
}

.detail-tabs-with-separator {
    border-top: 1px solid #ccc;
}

.detail-separator {
    background-color: #ddd;
    height: 10px;
    cursor: ns-resize;
    text-align: center;
    color: #333;
    user-select: none;
    -webkit-user-select: none;
}

.detail-separator i.icon-dot-3{
    position: absolute;
    margin-top: -6px;
}



.indirect-tab.active-detail-tab{
    background-color: #fff4ea;
}

.active-main-tab {
    background-color: #f5f5f4;
    border-width: 1px 1px 0 1px;
    border-color: #888;
}

.active-main-tab.in-selected-record {
    /*background-color: #fff;*/
}

.tab-page {
}

.primary-link-wrapper {
    padding: 5px 20px; 
    overflow: hidden;
}

.one-one-tab {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
    margin-left: 40px;
    margin-bottom: 40px;
}


.one-one-tab-separator {
    background-color: #ddd;
    padding-left: 10px;
}

.dropdown-option {
    display: flex;
}

.dropdown-input {
    display: flex;
}
.dropdown-input input {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
    height: 30px;
    padding-right: 20px; /* adjust from the button which is margin-left : -20px */
}

.dropdown-input button {
    width: 20px;
    margin-left: -20px;
    border: 0;
    background: none;
    box-shadow:none;
    border-radius: 0px;
    outline: none;
}

.dropdown-input button:focus {
    outline: none
}

.dropdown-input button::-moz-focus-inner {
  border: 0;
}

.dropdown-select {
    position: absolute;
    background-color: #fff;
    z-index: 99999;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.dropdown-select .dropdown-option {
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown-select .dropdown-option:hover {
    background-color: #eee;
}


.dropdown-select .dropdown-option .pk-value {
    padding: 0 5px;
    text-align: right;
    border-right: 1px solid #ccc;
    line-height: 30px; /* DO NOT change: this is used in calculation in the elm code */
    vertical-align: middle;
    background-color: #eee;
}

.dropdown-select .dropdown-option .choice {
    padding-left: 10px;
    line-height: 30px;
    vertical-align: middle;
}


.toolbar-area {
    display:flex;
    overflow-x: auto;
    padding: 50px 0 10px 0;
    margin-left: 20px;
    background-color: #f5f5f4;
}
.detail-record-window-cmd-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -5px;
    margin-top: -8px;
    display: flex;
}

.window-cmd-maximize,
.window-cmd-restore{
    padding: 8px 8px;
}

.btn {
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
  -webkit-app-region: no-drag;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-mini {
  padding: 2px 6px;
}

.btn-large {
  padding: 6px 12px;
}

.btn-form {
  padding-right: 20px;
  padding-left: 20px;
}

.btn-default {
  color: #333;
  border-top-color: #c2c0c2;
  border-right-color: #c2c0c2;
  border-bottom-color: #a19fa1;
  border-left-color: #c2c0c2;
  background-color: #fcfcfc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #f1f1f1 100%);
}
.btn-default:active {
  background-color: #ddd;
  background-image: none;
}

.btn-primary,
.btn-positive,
.btn-negative,
.btn-warning {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  border-color: #388df8;
  border-bottom-color: #0866dc;
  background-color: #6eb4f7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6eb4f7), color-stop(100%, #1a82fb));
  background-image: -webkit-linear-gradient(top, #6eb4f7 0%, #1a82fb 100%);
  background-image: linear-gradient(to bottom, #6eb4f7 0%, #1a82fb 100%);
}
.btn-primary:active {
  background-color: #3e9bf4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9bf4), color-stop(100%, #0469de));
  background-image: -webkit-linear-gradient(top, #3e9bf4 0%, #0469de 100%);
  background-image: linear-gradient(to bottom, #3e9bf4 0%, #0469de 100%);
}

.btn-positive {
  border-color: #29a03b;
  border-bottom-color: #248b34;
  background-color: #5bd46d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bd46d), color-stop(100%, #29a03b));
  background-image: -webkit-linear-gradient(top, #5bd46d 0%, #29a03b 100%);
  background-image: linear-gradient(to bottom, #5bd46d 0%, #29a03b 100%);
}
.btn-positive:active {
  background-color: #34c84a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34c84a), color-stop(100%, #248b34));
  background-image: -webkit-linear-gradient(top, #34c84a 0%, #248b34 100%);
  background-image: linear-gradient(to bottom, #34c84a 0%, #248b34 100%);
}

.btn-negative {
  border-color: #fb2f29;
  border-bottom-color: #fb1710;
  background-color: #fd918d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd918d), color-stop(100%, #fb2f29));
  background-image: -webkit-linear-gradient(top, #fd918d 0%, #fb2f29 100%);
  background-image: linear-gradient(to bottom, #fd918d 0%, #fb2f29 100%);
}
.btn-negative:active {
  background-color: #fc605b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc605b), color-stop(100%, #fb1710));
  background-image: -webkit-linear-gradient(top, #fc605b 0%, #fb1710 100%);
  background-image: linear-gradient(to bottom, #fc605b 0%, #fb1710 100%);
}

.btn-warning {
  border-color: #fcaa0e;
  border-bottom-color: #ee9d02;
  background-color: #fece72;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fece72), color-stop(100%, #fcaa0e));
  background-image: -webkit-linear-gradient(top, #fece72 0%, #fcaa0e 100%);
  background-image: linear-gradient(to bottom, #fece72 0%, #fcaa0e 100%);
}
.btn-warning:active {
  background-color: #fdbc40;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdbc40), color-stop(100%, #ee9d02));
  background-image: -webkit-linear-gradient(top, #fdbc40 0%, #ee9d02 100%);
  background-image: linear-gradient(to bottom, #fdbc40 0%, #ee9d02 100%);
}

.btn .icon {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #737475;
  font-size: 14px;
  line-height: 1;
}

.btn .icon-text {
  margin-right: 5px;
}

.btn-dropdown:after {
  font-family: "photon-entypo";
  margin-left: 5px;
  content: "î¡³";
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-app-region: no-drag;
}
.btn-group .btn {
  position: relative;
  float: left;
}
.btn-group .btn:focus, .btn-group .btn:active {
  z-index: 2;
}
.btn-group .btn.active {
  z-index: 3;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-group > .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group .btn + .btn {
  border-left: 1px solid #c2c0c2;
}
.btn-group .btn + .btn.active {
  border-left: 0;
}
.btn-group .active {
  color: #fff;
  border: 1px solid transparent;
  background-color: #6d6c6d;
  background-image: none;
}
.btn-group .active .icon {
  color: #fff;
}

.toolbar {
  display: flex;
  flex-wrap: nowrap;
  min-height: 22px;
  box-shadow: inset 0 1px 0 #f5f4f5;
  background-color: #e8e6e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e6e8), color-stop(100%, #d1cfd1));
  background-image: -webkit-linear-gradient(top, #e8e6e8 0%, #d1cfd1 100%);
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
}
.toolbar:before, .toolbar:after {
  display: table;
  content: " ";
}
.toolbar:after {
  clear: both;
}

.toolbar-header {
  border-bottom: 1px solid #c2c0c2;
}
.toolbar-header .title {
  margin-top: 1px;
}

.toolbar-footer {
  border-top: 1px solid #c2c0c2;
  -webkit-app-region: drag;
}

.title {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #555;
  cursor: default;
}

.toolbar-borderless {
  border-top: 0;
  border-bottom: 0;
}

.toolbar-actions {
  margin-top: 4px;
  margin-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  -webkit-app-region: drag;
}
.toolbar-actions:before, .toolbar-actions:after {
  display: table;
  content: " ";
}
.toolbar-actions:after {
  clear: both;
}
.toolbar-actions > .btn,
.toolbar-actions > .btn-group {
  margin-left: 4px;
  margin-right: 4px;
}

/**
 * Tooltip implemented only with CSS
 */
.tooltip {
}
/**
 * There is an issue when overflow-x: auto is added to the toolbar
 * container, part of the tooltip obstucted, z-index didn't help
 */
.tooltip .tooltip-text {
    margin-top: -40px;
    /*display: none;*/
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    position: absolute;
    z-index: 1000;
    font-size: 12px; 

}

.tooltip:hover .tooltip-text {
    /*display: inline-block;*/
    visibility: visible;
}

.date-range-filter {
    display:flex;
    padding: 0 5px;
}

.date-range-filter .start-date {
    height: 20px;
    border-color: #aaa;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 5px 0 0 5px;
}

.date-range-filter .end-date {
    height: 20px;
    border-color: #aaa;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-radius: 0 5px 5px 0;
}

.toolbar-fa {
    color: #888;
    padding: 0 5px;
}

.multi-column-sort {
    display: flex;
    justify-content: center;
}

.multi-column-sort input{
    margin: 0;
}

.loading-indicator{
    margin-top: -40px;
    margin-left: 150px;
}

.selected-record-loading-indicator{
    margin: auto;
}

.window-and-selected-row{
}

.detailed-selected-row {
    position: absolute;
    background-color: #f5f5f4;
}

.detailed-selected-row--shadow{
    box-shadow: -9px 9px 28px 0px rgba(50, 50, 50, 0.73);
    border-left: 1px solid #ccc;
}

.window-view {
    position: absolute;
}

.badge {
	position: absolute;
	background: #ff4081;
	min-width: 15px;
	text-align: center;
	border-radius: 50%;
	color: white;
	left: 20px;
	top: -3px;
    font-size: 9px;
    padding: 2px 3px;
}

.badge-modified{
    background:#5fba7d;
}

.row-value-image img{
    height: 30px;
}

.card-value-image {
    border: 1px solid #ccc;
}
