/* override photon user-select: none */
* { 
    user-select: auto;
    -webkit-user-select: auto;
}

.window {
    background-color: #ddd;
}


.window-arena{
    background-color: #f5f5f4;
}

#banner{
    height: 100px;
}


.row-value {
    padding: 0 5px;
    border: 1px solid #ccc;
    height: 30px;
}

.card-view{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.card-field {
    display: flex;
    padding: 10px 20px;
}

.card-view-value{
    padding: 0 5px;
    height: 30px;
    flex: 1;
}
.card-field-value > input {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
}

.card-field-value > textarea {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
}

.card-field-name{
    padding: 0 5px;
    height: 30px;
    flex: 1;
    text-align: right;
}

.card-field-label {
    padding-right: 20px;
}




.tab-row{
    display: flex;
}

.tab-row-value {
    padding: 5px 5px;
    height: 40px;
}

.tab-row-value > input
 {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
    height: 30px;
}

input.uuid-textbox{
    font-family: monospace;
}

a.primary-link {
    font-family: monospace;
}

.tab-row-value > select
 {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
    height: 30px;
    background-color: transparent;
}

.frozen-head{
    min-width: 120px;
    height: 51px; /* because there is a 1px border on tab-columns and 50px height*/
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
}

.page-shadow{
    min-width: 120px;
    overflow: hidden;
    background-color: #f5f5f4;
}
.page-shadow-content{
    position: relative;
}
.row-shadow-content {
    padding: 0 10px;
    height: 30px;
}
.shadow-page {
}

/* Frozen head columns */
.frozen-head-columns{
    display: flex;
    background-color: #f5f5f4;
}

/* row shadow and the listing of row records */
.page-shadow-and-list-rows{
    display: flex;
}

.row-controls {
    display: flex;
    height: 40px;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 40px;
}

.row-controls  a {
    color: #333;
}
.row-controls > div {
    padding: 0 3px;
}

.tab-names{
    background-color: #ddd;
    display: flex;
    padding-left: 15px;
}

.tab-names a {
    padding-top: 5px;
    text-decoration: none;
    display: block;
    color: #333;
}

.tab-name {
    border: 1px solid #ccc;
    padding: 5px 20px;
    height: 40px;
    border-radius: 5px 5px 0 0;
    outline: 0;
}

.tab-columns {
    overflow: hidden;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
}
.tab-columns-content {
    display: flex;
    position: relative;
}

.tab-column {
    padding: 0 5px;
    text-align: center;
}
.tab-column-with-filter {
    border-right: 1px solid #ccc;
    height: 50px;
}

.tab-columns-content .tab-column-with-filter:last-child {
    border-right: 0
}

.tab-list-view {
}

.list-view-rows {
    overflow: auto;
    background-color: #fff;
}

.empty-list-view-rows {
    width: 2000px;
    height: 2000px;
}

.column-filters {
    display: flex;
    padding: 2px;
}

.column-filter{
    display: flex;
    padding: 0 5px;
}

.filter-value{
    height: 20px;
    border-color: #aaa;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-radius: 0 5px 5px 0;
}

.filter-value-icon{
    width: 16px;
    color: #aaa;
    padding: 3px 2px 0 3px;
    border-color: #aaa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-radius: 5px 0 0 5px;
}

.tag-selection{
    display: flex;
    border-width: 0 0 1px 0;
    border-color: #ccc;
    border-style: solid;
    outline: 0;
    height: 30px;
}

.tag-item-with-control{
    padding: 5px 5px 0 5px;
    height: 50px;
}

.tag-item{
    display:flex;
    background-color: #ccc;
    padding: 0 3px;
    border-radius: 5px;
    font-size: 11px;
    white-space: nowrap;
}

.tag-item .icon {
    font-size: 13px;
    padding-left: 3px;
    color: #656565;
}



.indirect-tab {
    background-color: #eddac9;
}

.detail-tab-name {
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #888;
    text-decoration: none;
    display: block;
    color: #333;
    outline: 0;
}

.nav-group .is-view-active {
    background-color: #cbf35666;
}

.nav-group-item .is-view-icon {
    color: #688a02;
}

.main-tab-selected {
    overflow: auto;
    background-color: #fff;
}

.detail-tabs-with-separator {
    border-top: 1px solid #ccc;
}

.detail-separator {
    background-color: #ddd;
    height: 10px;
    cursor: ns-resize;
    text-align: center;
    color: #333;
    user-select: none;
    -webkit-user-select: none;
}

.detail-separator i.icon-dot-3{
    position: absolute;
    margin-top: -6px;
}

.detail-tab-names {
    display: flex;
    background-color: #ddd;
    height: 40px;
    padding-left: 40px;
    overflow-x: auto;
}

.active-detail-tab {
    background-color: #f5f5f4;
    border-width: 1px 1px 0 1px;
    border-color: #888;
}

.indirect-tab.active-detail-tab{
    background-color: #fff4ea;
}

.active-main-tab {
    background-color: #f5f5f4;
    border-width: 1px 1px 0 1px;
    border-color: #888;
}

.active-main-tab.in-selected-record {
    background-color: #fff;
}

.tab-page {
}

.primary-link-wrapper {
    padding: 5px 20px; 
}

.one-one-tab {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
    width: 1000px;
    margin-left: 40px;
    margin-bottom: 40px;
}


.one-one-tab-separator {
    background-color: #ddd;
    padding-left: 10px;
}

.dropdown-option {
    display: flex;
}

.dropdown-input {
    display: flex;
}
.dropdown-input input {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
    height: 30px;
}

.dropdown-input button {
    width: 20px;
    margin-left: -20px;
    border: 0;
    background: none;
    box-shadow:none;
    border-radius: 0px;
    outline: none;
}

.dropdown-input button:focus {
    outline: none
}

.dropdown-input button::-moz-focus-inner {
  border: 0;
}

.dropdown-select {
    position: absolute;
    background-color: #fff;
    z-index: 99999;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
}


.dropdown-select .dropdown-option:hover {
    background-color: #eee;
}


.dropdown-select .dropdown-option .pk-value {
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.dropdown-select .dropdown-option .choice {
    padding-left: 10px;
}
