[submodule "sakila"]
	path = crates/sakila
	url = https://ivanceras@github.com/ivanceras/sakila
[submodule "rustorm"]
	path = crates/rustorm
	url = https://ivanceras@github.com/ivanceras/rustorm
[submodule "cli"]
	path = cli
	url = https://ivanceras@github.com/ivanceras/diwata_cli.git
[submodule "crates/bazaar"]
	path = crates/bazaar
	url = https://ivanceras@github.com/ivanceras/bazaar.git
[submodule "crates/dota-sql"]
	path = crates/dota-sql
	url = https://ivanceras@github.com/ivanceras/dota-sql.git
[submodule "crates/sqlparser-rs"]
	path = crates/sqlparser-rs
	url = https://ivanceras@github.com/ivanceras/sqlparser-rs.git
